
Binaries/
Build/
Debug/
DerivedDataCache/
.vs
Saved/Crashes/
Saved/Config/CrashReportClient/
Saved/Logs/
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
